//  @import "../../Varaibles/";

$primary-yellow: rgb(250, 204, 0);
$primary-black: rgb(0, 0, 0);
$primary-white: rgb(255, 255, 255);
$debug-red: rgb(255, 0, 0) 2px solid;
$back-ground-gray: rgb(204, 202, 202);
