#test-orderinitialDetails{
  // border:  red solid 2px;
  font-family: serif;
  align-self: flex-start;
  margin-bottom: 0px;
  font-size:medium;
  font-weight: bold;
}

.test2{
  margin-top: 0px;
  margin-bottom: 40px;
}

// #test123456{
//   border:  red solid 2px;
//   width: 100%;
// }

.order-form-control-2{
  margin-bottom: 2%;
}